/* Survey page styles */
.photo{
  width: 60%;
  padding: 10px;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

/*-----Form Styling--------*/

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  padding: 0px 0px;
  width: 100%;
  border: none;
}

legend {
  display: inline-block;
  padding: 5px 0px;
  text-align: center;
  color: #D64541;
  text-transform: uppercase;

}

.survey input, .survey label, .survey textarea {
  display: inline-block;
  font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
	outline: 2px solid #D64541;
	font-weight: 400;
  background-color: #fafbfa;
}

.survey input[type="radio"] {
  margin: 0;
  font-size: .75rem;
}

.survey label {
  margin-right: .2rem;
  text-align: left;
  font-size: 1rem;
}

.favorite {
  margin-bottom: 1rem;
}

.fav-head {
  margin-bottom: .25rem;
}

select {
  background-color: #d2d7d3;
  font-size: 1rem;
}

textarea {
  width: 100%;
  resize: none;
  background-color: #d2d7d3;
}

.newsletter label {
  font-size: 1rem;
  margin-right: .4rem;
}

.newsletter input {
  margin-bottom: .5rem;
  margin-right: 0px;
  background-color: #d2d7d3;
  font-size: 1rem;
  width: 50%;
  border: none;

}

.newsletter fieldset{
  margin-right: 0px;
}

.newsletter button {
  align-self: center;
  margin: 0;
}

/*---Aria describedby text--*/
.hint {
  display: none;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
